*{ margin: 0; padding: 0; box-sizing: border-box; }

.carousel-inner img {
	width: 100%;
	height: 90vh;
	
}
/* bottom container */
.bottom-container{
    margin-top: 50px;
    background-color: #ffe3fe;
    text-align: center;
    padding-top: 35px;
}
.social-icon{
    margin: 20px 10px;
}

.follow{
    font-family: "Montserrat";
    font-weight: 800;
}